@import url('https://rsms.me/inter/inter.css'); /* Not sure if remote works */

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

.centre {
    align-items: center;
    display: flex;
    justify-content: center;
}

#player, #playeri {
    display: none;    
}

.server-logo {
    border: none;
    width: 500px;
}