@import url('https://rsms.me/inter/inter.css'); /* Not sure if remote works */

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

body {
    background: #3b3b3b;
    color: white;
    display: grid; /* Using a grid, we can centre the content of the page without my computer thinking I'm insane the first million times I write this line */
}

#centre {
    margin: auto;
}

#player, #playeri {
    display: none;    
}

.server-logo {
    border: none;
    width: 500px;
}